<div class="addgroup" >
<div class="detail-text" > Add Group </div>
<form (submit)="onSubmit(signUpForm)" #signUpForm="ngForm">


<mat-form-field appearance="outline">
  <mat-label>Group Name</mat-label>
  <input
    matInput
    ngModel
    name="groupName"
    #groupName="ngModel"
    placeholder="INFO_5"
    required
  />
  <mat-error> Group Name is <strong>required</strong> </mat-error>
</mat-form-field>

      
<mat-form-field appearance="outline">
  <mat-label>Group Category</mat-label>
  <mat-select 
 
  matInput
  ngModel
  name="groupCategory"
  #groupCategory="ngModel"
  >
    <mat-option  
    *ngFor="let Speciality of Specialitys"  
    required
    [value]="Speciality.value" >
      {{Speciality.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-form-field appearance="outline">
  <mat-label>Group Speciality</mat-label>
  <mat-select 
  matInput
  ngModel
  name="groupSpeciality"
  #groupSpeciality="ngModel">
    <mat-option  *ngFor="let Category of Categorys"  
    required
    [value]="Category.value" >
      {{Category.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Teacher</mat-label>
    <mat-select
    matInput
    ngModel
    name="groupTeacher"
    #groupTeacher="ngModel">
      <mat-option *ngFor="let user of users"  
      [value]="user.name">
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="lesson-houre-week" >
    <mat-form-field appearance="outline">
      <mat-label>Group Houres</mat-label>
      <input
        matInput
        ngModel
        name="groupLessonHours"
        #groupLessonHours="ngModel"
        placeholder="60 houre"
        required
      />
      <mat-error> Group Name is <strong>required</strong> </mat-error>
    </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Lesson Per Week</mat-label>
    <mat-select 
      (selectionChange)="daycount($event)" 
      matInput
      ngModel
      name="groupLessoncount"
      #groupLessoncount="ngModel" >
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
    </mat-select>
  </mat-form-field>

  </div>
  <div  *ngFor="let number of daycountvar" >

    <form (submit)="onAddDate(addDate)" #addDate="ngForm">   
    <div class="lesson-date">
      <mat-form-field appearance="outline">
        <mat-label>Day</mat-label>
        <mat-select     
        matInput
        ngModel
        name="day"
        #day="ngModel" 
        required >
          <mat-option value="Monday">Monday</mat-option>
          <mat-option value="Tuesday">Tuesday</mat-option>
          <mat-option value="Wednesday">Wednesday</mat-option>
          <mat-option value="Thusday">Thusday</mat-option>
          <mat-option value="Friday">Friday</mat-option>
          <mat-option value="Saturday">Saturday</mat-option>
          <mat-option value="Sunday">Sunday</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input
        matInput
        ngModel
        name="date"
        #date="ngModel"
          name="groupLessondate"
          
          placeholder=" 8:00am -- 6:00pm "
          required
        />
        <mat-error> Phone Number is <strong>required</strong> </mat-error>
      </mat-form-field>
      
      <button mat-raised-button  type="submit" >
        ADD
      </button>
    </div>
    </form> 
  </div>
    <h2>{{lessonDate}}</h2>
  <button mat-raised-button  class="submit-button" type="submit">
    Submit
  </button>

</form>


</div>