<div *ngFor="let Group of Groups">
  <div class="header">
    <div>
      <img src="../../assets/post-img.png" class="header-bg-img" alt="" />
    </div>
    <div class="container">
      <div class="container-header">
        <div class="container-header-left">
          <mat-chip-list>
            <mat-chip>{{ Group.groupCategory }}</mat-chip>
          </mat-chip-list>

          <div class="post-tag">
            <span>
              {{ Group.groupObject }}
            </span>
          </div>

          <div *ngIf="seconds > 0" class="begin-date">
            Beggins in {{ days }} days {{ hours }} houres {{ minutes }} minutes
            {{ seconds }} secends
          </div>
          <div *ngIf="seconds < 0" class="begin-date">
            <span>LIVE</span>
            <i class="material-icons date-live">adjust</i>
          </div>

          <div class="post-small-description">
            <span>
              {{ Group.groupDescription }}
            </span>
          </div>
          <div class="post-buttons">
            <button
              mat-raised-button
              class="tada-element"
              (click)="scrollToHere()"
            >
              Start Now
            </button>
          </div>
        </div>

        <div class="container-header-right">
          <img
            src="{{ Group.groupFilePath }}"
            class="container-header-right-img"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="under-header">
      <div class="container">
        <div class="under-header-flex">
          <div class="under-header-item">
            <div class="under-header-item-icon">
              <mat-icon>code</mat-icon>
            </div>
            <div class="under-header-item-text">{{ Group.groupLevel }}</div>
          </div>
          <div class="under-header-item">
            <div class="under-header-item-icon">
              <mat-icon>access_time</mat-icon>
            </div>
            <div class="under-header-item-text">{{ Group.groupPeriode }}</div>
          </div>
          <div class="under-header-item">
            <div class="under-header-item-icon">
              <mat-icon>av_timer</mat-icon>
            </div>
            <div class="under-header-item-text">
              {{ Group.groupHourPerWeek }} H / Week
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content-details">
      <!---------------------------------------------------------->

      <mat-card>
        <h1>the knowledge and skills you will acquire</h1>
        <p>{{ Group.groupExperienseGain }}</p>

        <p>Some of the Futures you will learn:</p>
        <div class="class-chip">
          <mat-chip-list>
            <mat-chip *ngFor="let chip of chips"> {{ chip }} </mat-chip>
          </mat-chip-list>
        </div>
      </mat-card>
      <!---------------------------------------------------------->
      <mat-card>
        <h1>further information</h1>
        <p>
          {{ Group.groupDetails }}
        </p>
      </mat-card>
    </div>
  </div>

  <div class="container">
    <div class="pricing-content-text">Get just one or get ’em all.</div>
    <div class="pricing-content-text-span">
      Every template includes free updates, and can be used on unlimited
      projects — both personal and commercial.
    </div>
    <div class="pricing-content">
      <div class="pricing-details">
        <div class="pricing-details-div">
          <div>
            <i class="material-icons">check</i>
          </div>
          <div>
            <b>Unlimited projects — </b> buy once and use this template for as
            many projects as you need.
          </div>
        </div>
        <div class="pricing-details-div">
          <div>
            <i class="material-icons">check</i>
          </div>
          <div>
            <b>Unlimited projects — </b> buy once and use this template for as
            many projects as you need.
          </div>
        </div>
        <div class="pricing-details-div">
          <div>
            <i class="material-icons">check</i>
          </div>
          <div>
            <b>Unlimited projects — </b> buy once and use this template for as
            many projects as you need.
          </div>
        </div>
      </div>

      <div class="pricing-price" #here>
        <div class="pricing-price1">
          <div class="pricing-price1-flexy">
            <span>Get with all-access</span>
            <button mat-flat-button (click)="infoStruc()">
              Get all access ->
            </button>
          </div>
          <div class="pricing-price1-flex">
            <div class="pricing-price1-price">{{ Group.groupPrice }}$</div>
            <div class="pricing-price1-span">
              <span>one-time payment</span>
              <span>plus local taxes</span>
            </div>
          </div>
          <p class="pricing-price1-p">
            Get lifetime access to every one of our website templates as well as
            all of our component examples for a single one-time purchase.
          </p>
        </div>
        <div class="pricing-price2">
          <div class="pricing-price2-content">
            <i class="material-icons">workspace_premium</i>

            <span>
              <b> Every site template — </b>beautifully designed, expertly
              crafted website templates built with modern technologies like
              React and Next.js.
            </span>
          </div>
        </div>
        <div class="pricing-price2">
          <div class="pricing-price2-content">
            <i class="material-icons">workspace_premium</i>

            <span>
              <b> Every site template — </b>beautifully designed, expertly
              crafted website templates built with modern technologies like
              React and Next.js.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
