<div class="delete">
  <div class="delete-flexy">
    <div class="flexy-first">
      <div class="delete-icon">
        <i class="material-icons">report_problem</i>
      </div>
    </div>
    <div>
      <div class="delete-big-text">
        <span>Payment Status</span>
      </div>
      <div class="delete-text">
        <span
          >Random text Random text Random text Random text Random text Random
          text Random text Random text Random text Random text
        </span>
      </div>
    </div>
  </div>
  <div class="delete-button">
    <button mat-flat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button type="submit">Delete</button>
  </div>
</div>
