<div class="accept">
  <div class="accept-icon">
    <i class="material-icons">check</i>
  </div>
  <div class="accept-text">
    <span>Payment Status</span>
  </div>
  <form (submit)="onSubmit(submit)" #submit="ngForm">
    <div class="accept-select">
      <mat-form-field appearance="outline">
        <mat-label>Payment States</mat-label>
        <mat-select matInput name="status" #status="ngModel" ngModel>
          <mat-option value="Payed">Payed</mat-option>
          <mat-option value="Not-Payed">Not Payed</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="accept-button">
      <button mat-flat-button type="submit">Submit</button>
    </div>
  </form>
</div>
