<div class="mainpage">
  <h1 style="font-size: 40px">Overview</h1>
  <div class="first-content">
    <div class="first-content-left">
      <div class="first-content-left-div1">
        <div class="first-content-item">
          <div class="my-spinner-div" *ngIf="spinner">
            <mat-spinner></mat-spinner>
          </div>
          <div class="first-content-item-center" *ngIf="!spinner">
            <div class="content-item-logo">
              <i class="material-icons">query_stats</i>
            </div>

            <div>
              <div class="content-item-stat">5</div>
              <div class="content-item-object">Teachers</div>
            </div>
          </div>
        </div>

        <div class="first-content-item">
          <div class="my-spinner-div" *ngIf="spinner">
            <mat-spinner></mat-spinner>
          </div>
          <div class="first-content-item-center" *ngIf="!spinner">
            <div class="content-item-logo logo-blue">
              <i class="material-icons">query_stats</i>
            </div>

            <div>
              <div class="content-item-stat">21</div>
              <div class="content-item-object">Student</div>
            </div>
          </div>
        </div>
      </div>
      <div class="first-content-left-div1">
        <div class="first-content-item">
          <div class="my-spinner-div" *ngIf="spinner">
            <mat-spinner></mat-spinner>
          </div>
          <div class="first-content-item-center" *ngIf="!spinner">
            <div class="content-item-logo logo-purple">
              <i class="material-icons">query_stats</i>
            </div>

            <div>
              <div class="content-item-stat">5</div>
              <div class="content-item-object">Category</div>
            </div>
          </div>
        </div>

        <div class="first-content-item">
          <div class="my-spinner-div" *ngIf="spinner">
            <mat-spinner></mat-spinner>
          </div>
          <div class="first-content-item-center" *ngIf="!spinner">
            <div class="content-item-logo logo-pink">
              <i class="material-icons">query_stats</i>
            </div>

            <div>
              <div class="content-item-stat">140</div>
              <div class="content-item-object">Student</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="chart" class="sparkline-chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [dataLabels]="chartOptions.dataLabels"
        [grid]="chartOptions.grid"
        [stroke]="chartOptions.stroke"
        [title]="chartOptions.title"
        [fill]="chartOptions.fill"
      ></apx-chart>
    </div>
  </div>
  <div class="secend-content">
    <div class="secend-content-left">
      <div class="my-spinner-div" *ngIf="spinner">
        <mat-spinner></mat-spinner>
      </div>
      <table
        *ngIf="!spinner"
        mat-table
        [dataSource]="categs"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Category Name.</th>
          <td mat-cell *matCellDef="let element">{{ element.categName }}</td>
        </ng-container>

        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef>createdAt</th>
          <td mat-cell *matCellDef="let element">{{ element.createdAt }}</td>
        </ng-container>

        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef>View</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              [routerLink]="['/Group/CatGroup', element.categName]"
            >
              View
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <div class="column-chart">
      <app-view-group-column-chart></app-view-group-column-chart>
    </div>
  </div>
</div>
