<div class="sidebar-content">
  <button
    mat-button
    [routerLink]="['/Homepage']"
    routerLinkActive="activebutton"
  >
    <mat-icon aria-label="home">home</mat-icon>
    <span *ngIf="showContentOnHover">Home</span>
  </button>
</div>

<div class="sidebar-content">
  <button
    mat-button
    [routerLink]="['/Formation/Announcement']"
    routerLinkActive="activebutton"
  >
    <mat-icon aria-label="campaign">campaign</mat-icon>
    <span *ngIf="showContentOnHover">Announce</span>
  </button>
</div>
<div class="sidebar-content">
  <button
    mat-button
    [routerLink]="['/Formation/Meeting/FGScvsqgs']"
    routerLinkActive="activebutton"
  >
    <mat-icon aria-label="adjust" class="button-live">adjust</mat-icon>
    <span *ngIf="showContentOnHover" class="button-live">LIVE Cour</span>
  </button>
</div>

<div class="sidebar-content">
  <button
    mat-button
    [routerLink]="['/Group/View']"
    routerLinkActive="activebutton"
  >
    <mat-icon aria-label="Groupe">admin_panel_settings</mat-icon>
    <span *ngIf="showContentOnHover">Admin</span>
  </button>
</div>
<div class="sidebar-content">
  <button
    mat-button
    [routerLink]="['/Group/WaitingList']"
    routerLinkActive="activebutton"
  >
    <mat-icon aria-label="Groupe">notifications</mat-icon>
    <span *ngIf="showContentOnHover">Notification</span>
  </button>
</div>
<div class="side-bar-bottom">
  <mat-divider></mat-divider>
  <div class="sidebar-content" *ngIf="isAuth">
    <button mat-button routerLinkActive="activebutton" (click)="onProfile()">
      <mat-icon aria-label="person">person</mat-icon>
      <span *ngIf="showContentOnHover">Account</span>
    </button>
  </div>
  <div class="sidebar-content" *ngIf="isAuth" (click)="logout()">
    <button mat-button>
      <mat-icon aria-label="logout" class="logout-icon">logout</mat-icon>
      <span class="logout-icon" *ngIf="showContentOnHover">LOGOUT</span>
    </button>
  </div>
  <div class="sidebar-content">
    <button mat-button (click)="change_theme()">
      <mat-icon aria-label="campaign">brightness_medium</mat-icon>
      <span *ngIf="showContentOnHover">Theme</span>
    </button>
  </div>

  <div class="sidebar-content">
    <button
      mat-button
      [routerLink]="['/Homepage/AboutUs']"
      routerLinkActive="activebutton"
    >
      <mat-icon aria-label="logout" class="info_outline" (click)="logout()"
        >info_outline</mat-icon
      >
      <span *ngIf="showContentOnHover">About</span>
    </button>
  </div>
</div>
