.logo1 {
  margin: 10px auto;
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
}
.logo {
  width: 50px;
  height: 45px;
}
.logo-text {
  font-size: 20px;
}
.sidebar-content {
  margin: 35px 0;
  height: max-content;
}
.sidebar-content button {
  height: 100%;
  width: 100%;
  text-align: left;
}
.sidebar-content span {
  margin-left: 15px;
}
.mat-icon {
  font-size: 25px;
}
.logout-icon {
  color: #ce2c2a;
}
.side-bar-bottom {
  position: absolute;
  bottom: 0;
}
@keyframes scaling {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

.button-live {
  color: var(--maincolor);
  animation-name: scaling;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
