<mat-toolbar color="primary">
  <div class="logo1">
    <img src="../../assets/logo1.png" class="logo" alt="Logo" />
    <span>NextGen</span>
  </div>
  <div>
    <button
      mat-button
      class="top-bar-button"
      routerLinkActive="activebutton"
      [routerLink]="['/Homepage/View']"
    >
      Home
    </button>
    <button
      mat-button
      class="top-bar-button"
      routerLinkActive="activebutton"
      [routerLink]="['/Homepage/AboutUs']"
    >
      About us
    </button>
    <button
      mat-button
      class="top-bar-button"
      routerLinkActive="activebutton"
      [routerLink]="['/Homepage/ContactUs']"
    >
      Contact
    </button>

    <button
      mat-button
      class="top-bar-button"
      routerLinkActive="activebutton"
      [routerLink]="['/Homepage/GroupsList']"
    >
      Discover
    </button>
  </div>
  <div class="right-navbar-button">
    <div *ngIf="isAuth" class="username-text">{{ userName }}</div>
    <img
      *ngIf="isAuth"
      src="{{ userPicture }}"
      alt="userPic"
      [routerLink]="['/Homepage/Profile/', '63ba8b3e75924707c96ee71a']"
    />
    <button *ngIf="!isAuth" mat-button id="button1" (click)="login()">
      login
    </button>
    <button *ngIf="!isAuth" mat-raised-button id="button2" (click)="login()">
      Get started
    </button>
    <button mat-button (click)="change_theme()">
      <mat-icon aria-label="campaign">brightness_medium</mat-icon>
    </button>
  </div>
</mat-toolbar>
