<mat-toolbar color="primary">
  <button
    mat-button
    class="top-bar-button"
    routerLinkActive="activebutton"
    [routerLink]="['/Homepage/View']"
  >
    Home
  </button>
  <button
    mat-button
    class="top-bar-button"
    routerLinkActive="activebutton"
    [routerLink]="['/Homepage/AboutUs']"
  >
    About us
  </button>
  <button
    mat-button
    class="top-bar-button"
    routerLinkActive="activebutton"
    [routerLink]="['/Homepage/ContactUs']"
  >
    Contact
  </button>
  <button
    mat-button
    class="top-bar-button"
    routerLinkActive="activebutton"
    [routerLink]="['/Homepage/PostPage/63ee42e5d3c6a248bb1ae156']"
  >
    PostPage
  </button>
  <button
    mat-button
    class="top-bar-button"
    routerLinkActive="activebutton"
    [routerLink]="['/Homepage/GroupsList']"
  >
    Discover
  </button>
  <div class="puch-right"></div>
  <div class="right-navbar-button">
    <div *ngIf="isAuth" class="username-text">{{ userName }}</div>
    <img
      *ngIf="isAuth"
      src="../../assets/deafault-profile-pic.png"
      alt="userPic"
      [routerLink]="['/Homepage/Profile/', '63ba8b3e75924707c96ee71a']"
    />
    <button *ngIf="!isAuth" mat-button id="button1" (click)="login()">
      login
    </button>
    <button *ngIf="!isAuth" mat-raised-button id="button2" (click)="login()">
      Get started
    </button>
  </div>
</mat-toolbar>
