.mat-toolbar {
  height: 70px;
  background-color: var(--darkcolor);
  border-bottom: 1px solid var(--bordercolor);
  position: -webkit-sticky; 
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo1 {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo1 span {
  font-size: 27px ;
  letter-spacing: 1px;
  margin-left: 5px;
  color: var(--whitecolor);
}
.logo {
  width: 50px;
  height: 45px;
}
.top-bar-button {
  margin: auto 5px;
}
button{
  color: var(--whitecolor);
  font-size: 16px;
}
.absolute {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
}
.home-victors {
  width: 100%;
}

.right-navbar-button {
  align-items: center;
  display: flex;
  margin-right: 10px;
  gap: 10px;
}
.right-navbar-button img {
  height: 34px;
  width: 34px;
  border-radius: 50%;
}
.menu-button{
  color: black !important;
  margin: 10px 20px;
  display: flex;
}
.logout-icon{
  color: red;
}
.menu-button mat-icon{
  margin-right: 5px;
  margin-left: -10px;
}
.username-text {
  background-color: transparent;
  color: black;
  font-size: 16px;
}
#button1 {
  font-size: 16px;
}
#button2 {
  border-radius: 20px;
  background-color: var(--maincolor);
  color: var(--darkcolor);
}