.mat-toolbar {
  height: 70px;
  background-color: #0c1017;
  border-bottom: 1px solid #2f353c;
  position: -webkit-sticky; 
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo1 {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
}

.logo1 span {
  font-size: 27px ;
  letter-spacing: 1px;
  margin-left: 5px;
}
.logo {
  width: 50px;
  height: 45px;
}
.top-bar-button {
  margin: auto 5px;
}
button{
  font-size: 16px;
}
.absolute {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
}
.home-victors {
  width: 100%;
}

.right-navbar-button {
  align-items: center;
  display: flex;
  margin-right: 10px;
}
.right-navbar-button img {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin-left: 20px;
}
.username-text {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
}
#button1 {
  margin: auto 7px;
  font-size: 16px;
}
#button2 {
  border-radius: 20px;
  background-color: var(--maincolor);
  color: var(--darkcolor);
}
