<mat-toolbar color="primary">
  <div class="logo1" [routerLink]="['/Homepage/View']">
    <img [src]="getImgSrc()" class="logo" alt="Logo" />
    <span>NextGen</span>
  </div>
  <div>
    <button
      mat-button
      class="top-bar-button"
      routerLinkActive="activebutton"
      [routerLink]="['/Homepage/View']"
    >
      Home
    </button>
    <button
      mat-button
      class="top-bar-button"
      routerLinkActive="activebutton"
      [routerLink]="['/Homepage/AboutUs']"
    >
      About us
    </button>
    <button
      mat-button
      class="top-bar-button"
      routerLinkActive="activebutton"
      [routerLink]="['/Homepage/ContactUs']"
    >
      Contact
    </button>

    <button
      mat-button
      class="top-bar-button"
      routerLinkActive="activebutton"
      [routerLink]="['/Homepage/GroupsList']"
    >
      Discover
    </button>
  </div>
  <div class="right-navbar-button">
    <button mat-button [matMenuTriggerFor]="beforeMenu">
      <img *ngIf="isAuth" src="{{ userPicture }}" alt="userPic" />
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before" class="menu-container">
      <button
        mat-button
        class="username-text menu-button"
        [routerLink]="['/Homepage/Profile/', userId]"
      >
        <mat-icon aria-label="campaign">person</mat-icon>
        <span>{{ userName }}</span>
      </button>
      <button mat-button (click)="logout()" class="menu-button">
        <mat-icon aria-label="logout" class="logout-icon">logout</mat-icon>
        <span class="logout-icon">Logout</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button (click)="change_theme()" class="menu-button">
        <mat-icon aria-label="campaign">brightness_medium</mat-icon>
        <span>Brightness</span>
      </button>
    </mat-menu>

    <button *ngIf="!isAuth" mat-button id="button1" (click)="login()">
      login
    </button>
    <button *ngIf="!isAuth" mat-raised-button id="button2" (click)="login()">
      Get started
    </button>

    <button *ngIf="!isAuth" mat-button (click)="change_theme()">
      <mat-icon aria-label="campaign">brightness_medium</mat-icon>
    </button>
  </div>
</mat-toolbar>
