.sign{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 20px;
    position: relative;
}
.sign mat-form-field{
    width: 90%;
    margin: 7px auto;
}
.sign mat-form-field:first-child{
    margin-top: 20px;
}


.submit-button{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 140px;
    bottom: 5px;
    background: var(--maincolor);
    
    font-size: 16px;
    color:var(--darkcolor);
}
.submit-button:hover{
    color: var(--whitecolor);

}
.mat-primary {
    color: var(--whitecolor) !important;
   }
  .mat-icon {
    color: var(--graycolor) !important;
  }
.text-section{
    color :var(--whitecolor) ; 
    margin-right: 10px;
    margin-top: -10px;
    font-size: 17px;
}