<div class="stacked-list">
  <div class="top-text">Waitlist Information</div>

  <div class="stacked-list-item" *ngFor="let waitlist of waitlists">
    <div class="left-div">
      <img
        src="{{ waitlist.userId.imgPath }}"
        alt="user-img"
        class="user-img"
      />
      <div class="user-info">
        <p class="user-name">{{ waitlist.userId.name }}</p>
        <p class="user-email">{{ waitlist.userId.email }}</p>
      </div>
    </div>

    <div class="middle-div">
      <p class="created-at">Applied on: {{ waitlist.createdAt }}</p>
      <p class="content">
        {{ waitlist.groupId.groupCategory }}
      </p>
    </div>

    <div class="right-div">
      <a mat-flat-button>
        <i class="material-icons">attach_email</i>
      </a>
      <a mat-flat-button (click)="Delete(waitlist.id)">
        <i class="material-icons">delete_outline</i>
      </a>
      <a
        mat-flat-button
        (click)="Accept(waitlist.userId._id, waitlist.groupId._id)"
      >
        <i class="material-icons">check</i>
      </a>
    </div>
  </div>
</div>
