<div class="mainpage">
  <div class="left-text-field">
    <div>
      <button mat-button class="announc-button">
        Learn more about our programs.
        <i class="announc-button-more">
          Read More <i class="material-icons">keyboard_arrow_right</i></i
        >
      </button>
    </div>
    <span class="left-text-field-span"
      >Welcome to NextGen for academic excellence.</span
    >
    <p class="left-text-field-p">
      "Take the first step towards reaching your potential with a formation
      course. Large, impactful text reminds you of the importance of this
      opportunity."
    </p>
    <button mat-raised-button id="button1" routerLink="/auth/signup">
      Join Us<i class="material-icons">keyboard_arrow_right</i>
    </button>
    <button
      mat-stroked-button
      id="button2"
      onclick="window.open('https://www.youtube.com/watch?v=0zMXsT-XJbE', '_blank')"
      type="button"
    >
      ▶ Watch Video
    </button>
  </div>

  <!--------------------------------------------------------------------------------------->
  <div class="between-component-text">
    <span>Online Learning with Our Courses</span>
  </div>
  <div class="secend-content-card">
    <mat-card class="content-secend-content-card">
      <a mat-fab class="icon-logo"
        ><mat-icon aria-hidden="false" aria-label="book">school</mat-icon>
      </a>
      <div>
        <span class="content-secend-content-card-span"
          >Expert-led courses tailored to your needs.</span
        >
      </div>
      <p class="content-secend-content-card-p">
        Learn new skills or enhance your existing expertise with our online
        courses.
      </p>
    </mat-card>
    <mat-card class="content-secend-content-card">
      <a mat-fab class="icon-logo"
        ><mat-icon aria-hidden="false" aria-label="tag">bookmark</mat-icon></a
      >
      <div>
        <span class="content-secend-content-card-span"
          >Our focus is on your success.</span
        >
      </div>
      <p class="content-secend-content-card-p">
        Our team of instructors and support staff are dedicated to helping you
        achieve your goals.
      </p>
    </mat-card>
    <mat-card class="content-secend-content-card">
      <a mat-fab class="icon-logo"
        ><mat-icon aria-hidden="false" aria-label="file_download"
          >cloud_download</mat-icon
        ></a
      >
      <div>
        <span class="content-secend-content-card-span"
          >Download course materials anytime, anywhere.</span
        >
      </div>
      <p class="content-secend-content-card-p">
        Access your course materials and resources from any device, at any time.
      </p>
    </mat-card>
  </div>
  <!--------------------------------------------->

  <div class="one-content">
    <div class="mainpage">
      <div class="one-content-flex">
        <div class="one-content-left">
          <div class="one-content-text">OUR ONLINE COURSES</div>
          <h1>
            Advance Your Career or Start a New Business with Our Formation
            Programs
          </h1>
          <h3>
            Our expert-led courses are tailored to your individual needs and
            goals, whether you're looking to learn a new skill or enhance your
            existing expertise.
          </h3>
        </div>
        <div class="one-content-right">
          <div class="one-content-right-item"></div>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------------->

  <div class="one-content">
    <div class="mainpage">
      <div class="one-content-flex">
        <div class="one-content-right2">
          <div class="one-content-right-item"></div>
        </div>
        <div class="one-content-left">
          <div class="one-content-text">BUILD YOUR ONLINE PRESENCE</div>
          <h1>Launch Your Business with Our Website Formation Services</h1>
          <h3>
            Our team of experienced web developers and designers can help you
            create a professional online presence that reflects your brand and
            attracts your target audience.
          </h3>
        </div>
      </div>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------->
  <div class="four-layout-content">
    <div class="four-layout-content-text">Learn New Skills Online</div>
    <div class="four-layout-content-div">
      Achieve your goals with our expert-led online courses. Learn new skills or
      start a business today!
    </div>
    <div class="four-layout-content-items">
      <div class="four-layout-content-item">
        <div class="four-layout-content-item-icon">
          <i class="material-icons">language</i>
        </div>
        <div class="four-layout-content-item-secend">
          <div class="four-layout-content-item-text">Wide Range of Courses</div>
          <span class="four-layout-content-item-span"
            >Our website provides a variety of courses in different fields to
            help you learn new skills and advance your career.</span
          >
        </div>
      </div>
      <div class="four-layout-content-item">
        <div class="four-layout-content-item-icon">
          <i class="material-icons">schedule</i>
        </div>
        <div class="four-layout-content-item-secend">
          <div class="four-layout-content-item-text">
            Flexible Learning Schedule
          </div>
          <span class="four-layout-content-item-span"
            >Our online platform allows you to learn at your own pace and on
            your own schedule, so you can balance your studies with your work
            and personal life.</span
          >
        </div>
      </div>
      <div class="four-layout-content-item">
        <div class="four-layout-content-item-icon">
          <i class="material-icons">assessment</i>
        </div>
        <div class="four-layout-content-item-secend">
          <div class="four-layout-content-item-text">Expert Instructors</div>
          <span class="four-layout-content-item-span"
            >Our courses are taught by industry experts and professionals,
            ensuring you receive the highest quality education and
            training.</span
          >
        </div>
      </div>
      <div class="four-layout-content-item">
        <div class="four-layout-content-item-icon">
          <i class="material-icons">attach_money</i>
        </div>
        <div class="four-layout-content-item-secend">
          <div class="four-layout-content-item-text">Affordable Prices</div>
          <span class="four-layout-content-item-span"
            >Our courses are priced competitively to ensure that everyone can
            access quality education without breaking the bank.</span
          >
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------->

  <div class="slick-carousel-content">
    <div class="slick-carousel-content-size">
      <div class="see-more" [routerLink]="['/Homepage/GroupsList']">
        <a mat-button>
          <span>See More</span>
          <mat-icon>arrow_forward_ios</mat-icon>
        </a>
      </div>
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <div class="post" width="280px;" height="370px;">
            <div>
              <img class="post-img" src="{{ slide.img }}" alt="" />
            </div>

            <div class="post-tag">
              Angular Engineering with AWS with angular material
            </div>

            <div class="post-description">
              Data Engineering with AWS with angular material Data Engineering
              with AWS with angular material Data Engineering with AWS with
              angular material
            </div>
            <div class="post-more">
              <div>
                <mat-icon> code </mat-icon>
                <span class="post-more-text"> Beginner</span>
              </div>

              <div>
                <mat-icon> access_time </mat-icon>
                <span class="post-more-text"> 4 Months</span>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------->
  <!--------------------------------------------->
  <div class="between-component-text">
    <span>Learn from Industry Experts</span>
  </div>
  <div class="one-content">
    <div class="mainpage">
      <div class="one-content-flex">
        <div class="one-content-left">
          <h1>Unlock Your Potential with Our Formation Programs</h1>
          <h3>
            Level up your skills with our expert-led courses, designed for both
            beginners and professionals. Gain the knowledge you need to achieve
            your goals and succeed in your field.
          </h3>
        </div>
        <div class="one-content-right-youtube">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/0zMXsT-XJbE?controls=0&modestbranding=1"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------->
</div>
<div class="cross-color-component">
  <div class="cross-color-component-mainpage">
    <h1>
      Join the thousands who use NextGen every day. See how we're changing the
      way the world learns at work.
    </h1>
    <button mat-stroked-button>Get Started</button>
  </div>
</div>
