
<div class="mainpage" >



    <div class="first-content-flexebility" >
      <div class="left-text-field " >
        <span  class="left-text-field-span" >Studying Online is now much easier </span>
        <p class="left-text-field-p" >Accès aux résultats d'analyse en ligne </p>
        <button mat-raised-button id="button1" routerLink="/auth/signup"  >Join Us</button>
      </div>
    
    
    
    
    
      <div>
        <mat-card class="right-card-field " >
          <img mat-card-image src="../../../assets/mainpage-pic.jpg" alt="analyse">
          <mat-card-content>
            <p style="text-align:center; font-size: larger;" >
              Une belle équipe motivées font tourner des appareils d’analyse high-tech avec en plus deux biologistes.
    
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    
    
    <div class="between-component-text" >
        <span>Des details a Notre Laboratoire</span>
    </div>
    
    <div class="secend-content-card" >
    
      <mat-card class="content-secend-content-card" >
        <a mat-fab class="icon-logo-1" ><mat-icon aria-hidden="false" aria-label="croix">book</mat-icon></a>
        <div><span class="content-secend-content-card-span" >Des analyses de sang par des professionnels.</span></div>
        <p class="content-secend-content-card-p" >Une prise de sang est une analyse de laboratoire effectuée sur un échantillon de sang.</p>
      </mat-card>
      <mat-card class="content-secend-content-card" >
        <a mat-fab class="icon-logo-2" ><mat-icon aria-hidden="false" aria-label="croix">tag</mat-icon></a>
        <div><span class="content-secend-content-card-span" >Notre exigence est de vous accueillir.</span></div>
        <p class="content-secend-content-card-p" >professionnellement et vous rendre des résultats d’analyses de qualité dans les meilleurs délais.</p>
    
      </mat-card>
      <mat-card class="content-secend-content-card" >
        <a mat-fab class="icon-logo-3" ><mat-icon aria-hidden="false" aria-label="croix">file_download</mat-icon></a>
        <div><span class="content-secend-content-card-span" >Téléchargez vos résultats en ligne.</span></div>
        <p class="content-secend-content-card-p" >Les résultats seront prêts dans 2 heures.</p>
    
      </mat-card>
    
    
    </div>
    
    
    
    
    
    <div>
    </div>
    </div>
    