.mainpage {
  max-width: 1300px;
  margin:  auto;
}
.left-text-field {
  max-width: 1100px;
  min-height: 500px;
  margin: 70px auto 100px auto;
  animation-name: slide-in-left;
  animation-duration: 1s;
  text-align: center;
}
.announc-button {
  height: 55px;
  width: 400px;
  margin: 15px auto;
  padding-left: 5px;
  padding-right: 20px;
  font-size: 18px;
  border: var(--bordercolor) solid 1px;
  color: gray;
  border-radius: 55px;
}
.announc-button-more {
  position: relative;
  font-style: normal;
  color: var(--maincolor);
  font-size: 18px;
}
.announc-button-more i {
  position: absolute;
  line-height: 16px;
  top: 3px;
}
.left-text-field-span {
  font-size: 60px;
  font-weight: 550;
  margin: 30px auto;
  line-height: 1.6;
}
.left-text-field-p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: lighter;
  width: 70%;
  margin: 30px auto;
}
button {
  height: 45px;
  width: 170px;
  margin: auto 50px auto auto;
  font-size: 20px;
}
#button1 {
  background-color: var(--maincolor);
  border-radius: 10px;
  color: var(--darkcolor);
}

#button2 {
  border-radius: 10px;
  border: var(--bordercolor) solid 1px;
  color: var(--whitecolor);
}

button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
mat-card {
  background-color: var(--soft-darkcolor);
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.between-component-text {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}

@media screen and (max-width: 1250px) {
  .left-text-field {
    margin: 50px auto;
    text-align: center;
  }
}
/*/********************************************************************************/
.four-layout-content {
  min-height: 500px;
}
.four-layout-content-text {
  margin: 20px auto;
  font-size: 40px;
  text-align: center;
}
.four-layout-content-div {
  text-align: center;
  margin: 40px auto;
  font-size: 20px;
  color: var(--graycolor);
  max-width: 580px;
  line-height: 1.8;
}
.four-layout-content-items {
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.four-layout-content-item {
  max-width: 49%;
  border: var(--bordercolor) solid 1px;
  border-radius: 20px;
  display: flex;
}
.four-layout-content-item-icon {
  background-color: var(--maincolor);
  height: 50px;
  width: 100px;
  border-radius: 10px;

  margin: 20px;
  position: relative;
}
.four-layout-content-item-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--darkcolor);
}
.four-layout-content-item-secend {
  margin: 30px 15px;
}
.four-layout-content-item-secend div {
  margin-bottom: 25px;
  font-size: 22px;
}
.four-layout-content-item-secend span {
  color: var(--graycolor);
  font-size: 18px;
  line-height: 1.5;
}
@media screen and (max-width: 1250px) {
  .four-layout-content-items {
    justify-content: center;
    width: 100%;
  }
  .four-layout-content-item {
    max-width: 90%;
  }
}
/*/********************************************************************************/
.cross-color-component{
  margin-top: 50px ;
  background-color: var(--soft-darkcolor);
  text-align: center;
  min-height: 280px;
  display: flex;
  flex-direction: column;
}
.cross-color-component-mainpage{
  max-width: 950px;
  margin: 10px auto;
}
.cross-color-component h1{
  letter-spacing: 0.5;
font-size: 30px;
font-weight: 570;
margin-top: 40px;
line-height: 1.5;
}
.cross-color-component button{
  margin-top: 40px;
  background-color: var(--maincolor);
  color: var(--darkcolor);
  border-radius: 25px;
  }
  



/*/********************************************************************************/

.secend-content-card {
  margin: 70px auto;
  display: flex;
  color: var(--whitecolor);
}
.content-secend-content-card {
  border-radius: 15px;
  width: 330px;
  min-height: 130px;
  margin: auto;
  background-color: var(--soft-darkcolor);
  position: relative;
  padding-top: 50px;
}
.icon-logo {
  position: absolute;
  left: 40px;
  top: -20px;
  color: var(--darkcolor);
  background-color: var(--maincolor);
  cursor: default;
  margin: 10px auto;
  height: 50px;
  border-radius: 10px;
}

.content-secend-content-card-span {
  font-size: 22px;
  font-weight: 500;
  margin-top: 10px;
  color: var(--whitecolor);
  line-height: 1.5;
}
.content-secend-content-card-p {
  font-size: 15px;
  font-weight: 500;
  margin: 20px auto;
  color: var(--graycolor);
  line-height: 1.8;
}

@media screen and (max-width: 1250px) {
  .secend-content-card {
    flex-direction: column;
  }
  .content-secend-content-card {
    margin: 10px auto;
  }
}

/*/********************************************************************************/
.one-content {
  min-height: 350px;
  margin: 80px auto;
}

.one-content-text {
  margin: 30px 20px;
  font-size: 20px;
  color: var(--whitecolor);
}

.one-content-flex {
  min-height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.one-content-left {
  margin-top: 20px;
  width: 38%;
  min-height: 280px;
  color: var(--whitecolor);
}
.one-content-left h3 {
  color: var(--graycolor);
}

.one-content-right {
  width: 43%;
  min-height: 250px;
  border-radius: 20px;
  box-shadow: rgba(211, 211, 211, 0.02) 0px 1px 3px 0px,
    rgba(218, 218, 218, 0.15) 0px 0px 0px 1px;
  background-image: url(../../../assets/homepage2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
}
.one-content-right2 {
  width: 43%;
  min-height: 250px;
  border-radius: 20px;
  box-shadow: rgba(211, 211, 211, 0.02) 0px 1px 3px 0px,
    rgba(218, 218, 218, 0.15) 0px 0px 0px 1px;
  background-image: url(../../../assets/homepage3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
}
.one-content-right-youtube {
  width: 43%;
  min-height: 250px;
  border-radius: 20px;
  box-shadow: rgba(211, 211, 211, 0.02) 0px 1px 3px 0px,
    rgba(218, 218, 218, 0.15) 0px 0px 0px 1px;
}
@media screen and (max-width: 1250px) {
  .one-content-flex {
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 500px;
  }
  .one-content-left {
    width: 100%;
  }
  .one-content-right {
    width: 100%;
  }
}

/********************************************************************************/

.see-more {
  font-size: 16px;
  margin: 30px auto -10px auto;

  display: flex;
  justify-content: end;
}
.see-more mat-icon {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 8px;
}
.see-more span {
  font-size: 14px;
}

/********************************************************************************/

.slick-carousel-content {
  min-height: 450px;
  margin: 10px auto;
  color: var(--whitecolor);
  width: 90%;
}
.slick-carousel-content-size {
  max-width: 1200px;
  margin: auto;
}
.slick-carousel-content-head-text {
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 1.12px;
  line-height: 38px;
  text-align: center;
  margin: 30px auto;
}
.slide {
  margin: auto 5px;
}
.slide img {
  margin: auto;
  border-radius: 10px;
}

/********************************************************************************/

.post {
  margin: 40px auto;
  background-color: var(--soft-darkcolor);
  border-radius: 10px;
  width: 300px;
  height: 380px;
  position: relative;
}
.post-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 120px;
  width: 100%;
  background-color: var(--soft-darkcolor);
}
.post-tag {
  max-height: 60px;
  font-size: 18px;
  padding: 10px;
  line-height: 1.6;
  word-break: break-word;
}
.post-more {
  height: 40px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}
.post-more mat-icon {
  margin-top: 7px;
  margin-right: 7px;
}

.post-more-text {
  font-size: 17px;
}

.post-more div {
  display: flex;
  line-height: 36px;
}
.post-description {
  padding: 10px;
  line-height: 1.6;
  word-break: break-word;
  font-size: 14px;
  color: var(--graycolor);
}
