<div class="mainpage">
  <div class="left-text-field">
    <div>
      <button mat-button class="announc-button">
        Learn more about our programs.
        <i class="announc-button-more">
          Read More <i class="material-icons">keyboard_arrow_right</i></i
        >
      </button>
    </div>
    <span class="left-text-field-span"
      >Welcome to NextGen for academic excellence.</span
    >
    <p class="left-text-field-p">
      "Take the first step towards reaching your potential with a formation
      course. Large, impactful text reminds you of the importance of this
      opportunity."
    </p>
    <button mat-raised-button id="button1" routerLink="/auth/signup">
      Join Us<i class="material-icons">keyboard_arrow_right</i>
    </button>
    <button mat-stroked-button id="button2" routerLink="/auth/signup">
      Join Us<i class="material-icons">keyboard_arrow_right</i>
    </button>
  </div>

  <!--------------------------------------------------------------------------------------->
  <div class="between-component-text">
    <span>Des details a Notre Laboratoire</span>
  </div>
  <div class="secend-content-card">
    <mat-card class="content-secend-content-card">
      <a mat-fab class="icon-logo"
        ><mat-icon aria-hidden="false" aria-label="croix">book</mat-icon>
      </a>
      <div>
        <span class="content-secend-content-card-span"
          >Des analyses de sang par des professionnels.</span
        >
      </div>
      <p class="content-secend-content-card-p">
        Une prise de sang est une analyse de laboratoire effectuée sur un
        échantillon de sang.
      </p>
    </mat-card>
    <mat-card class="content-secend-content-card">
      <a mat-fab class="icon-logo"
        ><mat-icon aria-hidden="false" aria-label="croix">tag</mat-icon></a
      >
      <div>
        <span class="content-secend-content-card-span"
          >Notre exigence est de vous accueillir.</span
        >
      </div>
      <p class="content-secend-content-card-p">
        professionnellement et vous rendre des résultats d’analyses de qualité
        dans les meilleurs délais.
      </p>
    </mat-card>
    <mat-card class="content-secend-content-card">
      <a mat-fab class="icon-logo"
        ><mat-icon aria-hidden="false" aria-label="croix"
          >file_download</mat-icon
        ></a
      >
      <div>
        <span class="content-secend-content-card-span"
          >Téléchargez vos résultats en ligne.</span
        >
      </div>
      <p class="content-secend-content-card-p">
        Les résultats seront prêts dans 2 heures.
      </p>
    </mat-card>
  </div>

  <!--------------------------------------------->

  <div class="one-content">
    <div class="mainpage">
      <div class="one-content-flex">
        <div class="one-content-left">
          <div class="one-content-text">OUR ONLINE COURSES</div>
          <h1>
            Advance Your Career or Start a New Business with Our Formation
            Programs
          </h1>
          <h3>
            Our expert-led courses are tailored to your individual needs and
            goals, whether you're looking to learn a new skill or enhance your
            existing expertise.
          </h3>
        </div>
        <div class="one-content-right">
          <div class="one-content-right-item"></div>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------------->

  <div class="one-content">
    <div class="mainpage">
      <div class="one-content-flex">
        <div class="one-content-right2">
          <div class="one-content-right-item"></div>
        </div>
        <div class="one-content-left">
          <div class="one-content-text">OUR ONLINE COURSES</div>
          <h1>
            Advance Your Career or Start a New Business with Our Formation
            Programs
          </h1>
          <h3>
            Our expert-led courses are tailored to your individual needs and
            goals, whether you're looking to learn a new skill or enhance your
            existing expertise.
          </h3>
        </div>
      </div>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------->

  <div class="four-layout-content">
    <div class="four-layout-content-text">A better way to send money</div>
    <div class="four-layout-content-div">
      Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam
      voluptatum cupiditate veritatis.
    </div>
    <div class="four-layout-content-items">
      <div class="four-layout-content-item">
        <div class="four-layout-content-item-icon">
          <i class="material-icons">workspaces_outline</i>
        </div>
        <div class="four-layout-content-item-secend">
          <div class="four-layout-content-item-text">
            Competitive exchange rates
          </div>
          <span class="four-layout-content-item-span"
            >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
            impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis
            ratione.</span
          >
        </div>
      </div>
      <div class="four-layout-content-item">
        <div class="four-layout-content-item-icon">
          <i class="material-icons">workspaces_outline</i>
        </div>
        <div class="four-layout-content-item-secend">
          <div class="four-layout-content-item-text">
            Competitive exchange rates
          </div>
          <span class="four-layout-content-item-span"
            >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
            impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis
            ratione.</span
          >
        </div>
      </div>
      <div class="four-layout-content-item">
        <div class="four-layout-content-item-icon">
          <i class="material-icons">workspaces_outline</i>
        </div>
        <div class="four-layout-content-item-secend">
          <div>Competitive exchange rates</div>
          <span
            >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
            impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis
            ratione.</span
          >
        </div>
      </div>
      <div class="four-layout-content-item">
        <div class="four-layout-content-item-icon">
          <i class="material-icons">workspaces_outline</i>
        </div>
        <div class="four-layout-content-item-secend">
          <div class="four-layout-content-item-text">
            Competitive exchange rates
          </div>
          <span class="four-layout-content-item-span"
            >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
            impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis
            ratione.</span
          >
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------->

  <div class="slick-carousel-content">
    <div class="slick-carousel-content-size">
      <div class="see-more" [routerLink]="['/Homepage/GroupsList']">
        <a mat-button>
          <span>See More</span>
          <mat-icon>arrow_forward_ios</mat-icon>
        </a>
      </div>
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <div class="post" width="280px;" height="370px;">
            <div>
              <img class="post-img" src="../../../assets/post-img.jpg" alt="" />
            </div>

            <div class="post-tag">
              Data Engineering with AWS with angular material
            </div>

            <div class="post-description">
              Data Engineering with AWS with angular material Data Engineering
              with AWS with angular material Data Engineering with AWS with
              angular material
            </div>
            <div class="post-more">
              <div>
                <mat-icon> code </mat-icon>
                <span class="post-more-text"> Beginner</span>
              </div>

              <div>
                <mat-icon> access_time </mat-icon>
                <span class="post-more-text"> 4 Months</span>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------->
  <!--------------------------------------------->
  <div class="between-component-text">
    <span>Learn from Industry Experts</span>
  </div>
  <div class="one-content">
    <div class="mainpage">
      <div class="one-content-flex">
        <div class="one-content-left">
          <h1>Unlock Your Potential with Our Formation Programs</h1>
          <h3>
            Level up your skills with our expert-led courses, designed for both
            beginners and professionals. Gain the knowledge you need to achieve
            your goals and succeed in your field.
          </h3>
        </div>
        <div class="one-content-right-youtube">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/0zMXsT-XJbE?controls=0&modestbranding=1"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------->
</div>
<div class="cross-color-component">
  <div class="cross-color-component-mainpage">
    <h1>
      Join the thousands who use NextGen every day. See how we're changing the
      way the world learns at work.
    </h1>
    <button mat-stroked-button>Get Started</button>
  </div>
</div>
