.mainpage {
  max-width: 1300px;
  margin: auto;
}

.info-section {
  min-height: 160px;
  width: 97%;
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.info-square {
  height: 80px;
  width: 30%;
  border-radius: 10px;
  background-color: var(--soft-darkcolor);
  border: solid 1px var(--bordercolor);
  display: flex;
  align-items: center;
}
.info-square-logo {
  height: 100%;
  width: 80px;
  background-color: var(--maincolor);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.info-square-logo mat-icon {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 40px;
  color: var(--darkcolor);
  padding: 0px 15px;
}
.info-square-info {
  color: var(--whitecolor);
  margin: 10px 20px;
  font-size: 26px;
}
.info-square-number {
  margin: 10px 20px;
  font-size: 20px;
  color: var(--graycolor);
}

table {
  width: 98%;
  min-height: 500px;
  margin: 20px auto;
  box-shadow: none;
  background-color: var(--soft-darkcolor) !important;
  border-radius: 20px;
}
.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-row:hover .mat-cell {
  border: var(--bordercolor);
  background: var(--soft-darkcolor);
}

.demo-row-is-clicked {
  font-weight: bold;
}
table th {
  border-bottom: var(--bordercolor) solid 1px;
}
.filter-section {
  margin-left: 20px;
}
.AddButton {
  font-size: 16px;
  border: solid 1px var(--bordercolor);
  color: var(--graycolor);
}
