.mainpage {
  max-width: 1300px;
  margin: auto;
}
.information-section {
  min-height: 90px;
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  gap: 10px;
}
.information-section > * {
  flex-grow: 1;
  background-color: var(--soft-darkcolor);
  width: fit-content;
  border-radius: 20px;
  font-size: 18px;
  padding: 10px;
}
.information-section > * > * {
  padding: 10px;
}
.information-section span {
  color: var(--graycolor);
}
.div-table {
  min-height: 700px;
  background-color: var(--soft-darkcolor);
  border-radius: 20px;
}
table {
  width: 98%;
  margin: 20px auto;
  background-color: var(--soft-darkcolor) !important ;
  box-shadow: none;
  border: none;
}
.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  cursor: pointer;
}
table th {
  border-bottom: 1px solid var(--bordercolor);
}
.mat-row:hover .mat-cell {
  background-color: var(--soft-darkcolor);
}

.demo-row-is-clicked {
  font-weight: bold;
}
.UsersNone {
  border: var(--bordercolor) solid 1px;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px;
  width: 250px;
  margin: 50px auto;
  color: var(--graycolor);
}
.view-button {
  border: var(--bordercolor) solid 1px;
}
