<div
  class="dialog-container"
  [style.right.px]="right"
  [style.bottom.px]="bottom"
>
  <div class="dialog-content">
    <div>
      <h3>
        Don't forget to check out our GitHub page for the latest projects and
        updates!
      </h3>
      <img src="../../assets/rock.png" alt="" />
    </div>
    <div class="buttons">
      <a (click)="closeDialog()" target="_blank">Close</a>

      <a
        href="https://github.com/laakri?tab=overview"
        id="secend-buttons"
        target="_blank"
        >Visit our GitHub</a
      >
    </div>
  </div>
</div>
