.dialog-container {
  min-height: 110px;
  width: 420px;
    position: fixed;
    background-color: #171a22;
    border: 1px solid var(--bordercolor);
    color: #fff;
    padding: 16px;
    border-radius: 6px;
    z-index: 10000;
  }

  .dialog-content {
    display: flex;
    flex-direction: column;
  }  
  .dialog-content div {
position: relative;
  } .dialog-content h3 {

    width: 70%;
  }
  .dialog-content img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
  }
.buttons{
  display: flex;
  gap: 10px;
}
  .buttons a {
    background-color: #fff;
    text-align: center;
    color: #0c1017;
    border-radius: 4px;
    font-weight: 550;
    padding: 8px 16px;
    margin-top: 5px;
    cursor: pointer;
    width: 90px;
  }
  
  #secend-buttons{
    background-color: transparent;
    border: var(--bordercolor) 1px solid ;
    width: 120px;
    color: #fff;
  }