.example-container {
  width: 100%;
  background-color: var(--dark-color) !important;
  height: calc(100vh - 70px); 
  color: var(--whitecolor);
}

.sidebar {
  min-width: 75px;
  height: calc(100vh - 70px); 
  padding: 5px;
  border-right: 1px solid var(--bordercolor);
  background-color: var(--darkcolor);
  color: var(--whitecolor);

}
