.my-spinner-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mat-toolbar {
  height: 45px;
  background-color: #0c1017;
  border-bottom: 1px solid rgb(44, 44, 44);
}

.top-bar-button {
  margin: auto 5px;
}

.full-content {
  width: 100%;
  height: 100%;
  background-color: var(--darkcolor);
  color: var(--whitecolor);
}

.announc_null {
  border: var(--graycolor) solid 1px;
  color: var(--graycolor);
  border-radius: 5px;
  text-align: center;
  margin: 60px auto;
  width: 90%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}

.seach-content {
  background-color: var(--darkcolor);
  color: var(--whitecolor);
  border-right: solid var(--bordercolor) 1px;
  padding: 30px 10px;
  width: 350px;
  margin: auto;
}
.search-bar {
  width: 100%;
}

.result-content {
  padding: 20px 30px;
}
.open-side-button {
  margin-right: 10px;
  background-color: transparent;
  border: solid var(--bordercolor) 1px;
  color: var(--whitecolor);
}
.open-side-button i {
  font-size: 16px;
}

.users {
  min-height: 75px;
  max-width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  border: var(--bordercolor) solid 1px;
  align-items: center;
}

.users-img {
  cursor: pointer;
  height: 40px;
  width: 20%;
}
.users-img img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
.users-text {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.users-text :last-child {
  color: var(--graycolor);
}
.flex-it-to-right {
  flex: 1 1 auto;
}
.users-button {
  width: 25%;
}
.users-button button {
  background-color: transparent;
  border: var(--bordercolor) solid 1px;
  color: var(--graycolor);
  font-size: 10px;
  cursor: pointer;
}

.users-button i {
  font-size: 18px;
}
