<mat-toolbar color="primary">
  <button
    mat-button
    class="top-bar-button"
    routerLinkActive="activebutton"
    [routerLink]="['/Group/View']"
  >
    Groups
  </button>
  <button
    mat-button
    class="top-bar-button"
    routerLinkActive="activebutton"
    [routerLink]="['/Group/CatGroup/Informatique']"
  >
    Category
  </button>

  <button
    mat-button
    class="top-bar-button"
    routerLinkActive="activebutton"
    [routerLink]="['/Group/AddUser']"
  >
    Add User
  </button>

  <button
    mat-button
    class="top-bar-button"
    routerLinkActive="activebutton"
    [routerLink]="['/Group/CreatePost']"
  >
    CreatePost
  </button>
  <button
    mat-button
    class="top-bar-button"
    routerLinkActive="activebutton"
    [routerLink]="['/Group/GroupUsers/63aac6f9ddd3d25b418e495d']"
  >
    GroupUsers
  </button>
</mat-toolbar>

<mat-drawer-container class="full-content">
  <mat-drawer #drawer class="seach-content" mode="side" opened>
    <h4>STUDENTS</h4>
    <mat-form-field class="search-bar" appearance="outline">
      <mat-label> ❉/ Search</mat-label>

      <input
        type="text"
        matInput
        [(ngModel)]="searchQuery"
        (keyup)="searchSubject.next(searchQuery)"
      />
    </mat-form-field>

    <div class="my-spinner-div" *ngIf="spinner">
      <mat-spinner></mat-spinner>
    </div>
    <div class="announc_null" *ngIf="userlength <= 0">"Student directory"</div>

    <div class="users" *ngFor="let user of users">
      <div class="users-img">
        <img
          src="{{ user.imgPath }}"
          [routerLink]="['/Homepage/Profile', user.userId]"
          alt="imgPath"
        />
      </div>
      <div class="users-text">
        <span>{{ user.name }}</span>
        <span>
          {{ user.email }}
        </span>
      </div>
      <div class="flex-it-to-right"></div>
      <div class="users-button">
        <button mat-raised-button (click)="onCopy(user.userId)">
          <i class="material-icons">content_copy</i>
        </button>
      </div>
    </div>

    <!------------------------------------------------------------------->
  </mat-drawer>
  <div class="result-content">
    <div>
      <button
        type="button"
        mat-raised-button
        (click)="drawer.toggle()"
        (click)="Show()"
        class="open-side-button"
      >
        <i class="material-icons" *ngIf="showFiller">arrow_forward_ios</i>
        <i class="material-icons" *ngIf="!showFiller">arrow_back_ios_new</i>
      </button>
      <button
        mat-raised-button
        class="open-side-button"
        matTooltip="Add new Category"
        (click)="login()"
      >
        <i class="material-icons">category</i>
        <i class="material-icons">add</i>
      </button>

      <button
        mat-raised-button
        class="open-side-button"
        matTooltip="Add new Post"
        [routerLink]="['/Group/CreatePost']"
      >
        <i class="material-icons">auto_stories</i>
        <i class="material-icons">add</i>
      </button>
      <!--
    <button mat-raised-button class="open-side-button">
      <i class="material-icons">admin_panel_settings</i>
      <i class="material-icons">add</i>
    </button>
    --></div>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>
