.mat-toolbar{
    height: 45px;
    background-color: #19181a;
    border-bottom: 1px solid rgb(44, 44, 44);
}


.top-bar-button{
    margin:  auto 5px;
}

.full-content {
    width: 100%;
    height: 100%;
    background-color: var(--darkcolor);
    color: var(--whitecolor);
}
  

.seach-content {
    background-color: var(--darkcolor);
    color: var(--whitecolor);
    border-right: solid var(--bordercolor) 1px;
    padding: 30px;
    width: 300px;
    margin: auto;
}
.search-bar{
    width: 100%;
}
  
 .result-content{
    padding: 20px 30px;
 }
 .open-side-button{
    background-color: transparent;
    border: solid var(--bordercolor) 1px;
    color: var(--whitecolor);

}
 .open-side-button i{
    font-size: 16px;
}

.groups-category{
    height: 75px;
    max-width: 100%;
    background-color: var(--soft-darkcolor);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.groups-category:hover{
    border: var(--whitecolor) solid 1px ;
    cursor: pointer;
}
.groups-category-info-lower {
    height:40px;
    margin-bottom: 10px;
    display: flex;
}
.groups-category-logo{
    height: 20px;
    width: 25px;
    padding: 10px;
    border-radius:10px ;
    display: flex;

}
.groups-category-name{
    height: 32px;
    line-height: 35px;
    min-width: 150px;
    margin-top: -7px;
    margin-left: 20px;
    font-size: 16px;
}

.groups-category-info{
    background-color: var(--darkcolor);
    font-size: 14px;
    padding: 5px;
    border-radius:5px ;
    margin: 6px 0;
    width: max-content;


}