<div class="mainpage spinner" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="mainpage" *ngIf="!spinner">
  <div *ngFor="let user of users">
    <div class="profile-header">
      <div class="left-content">
        <div class="left-content-1">
          <img src="{{ user.imgPath }}" alt="" />
          <div class="verified" *ngIf="user.verified == 'true'">
            <i class="material-icons">verified</i>
          </div>
        </div>

        <div class="left-content-2">
          <div class="user-name">
            {{ user.name }}
          </div>
          <mat-chip-list class="user-y-c">
            <mat-chip class="user-category">{{ user.category }}</mat-chip>
          </mat-chip-list>
        </div>
      </div>

      <div class="right-content">
        <button
          mat-mini-fab
          class="header-button"
          [matMenuTriggerFor]="beforeMenu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before" class="menu">
          <button
            mat-menu-item
            class="menu-item"
            [routerLink]="['/Homepage/Settings']"
          >
            <mat-icon class="menu-item">settings</mat-icon>
            <span>Settings</span>
          </button>

          <button mat-menu-item class="menu-item">
            <mat-icon class="menu-item">logout</mat-icon>
            <span>logout</span>
          </button>

          <button mat-menu-item class="menu-item">
            <mat-icon class="menu-item">delete</mat-icon>
            <span>delete</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <mat-tab-group fitInkBarToContent mat-align-tabs="start">
      <!----------------------------------------->

      <mat-tab label="Profile">
        <div class="live-section" *ngIf="user.verified == 'false'">
          <h2>
            complete your profile to join our verified professional community.
          </h2>
          <span
            >Unlock new opportunities and expand your professional network by
            joining our verified community. Complete your profile now and start
            connecting with like-minded peers
          </span>
          <button mat-flat-button [routerLink]="['/Homepage/Settings']">
            Complete Profile
          </button>
        </div>
        <div class="live-section" *ngIf="user.verified == 'true'">
          <h2>explore online courses to learn new skills now.</h2>
          <span
            >Gain access to comprehensive training resources and learn at your
            own pace with our flexible online courses
          </span>
          <button mat-flat-button [routerLink]="['/Homepage/GroupsList']">
            Start Learning
          </button>
        </div>
        <div class="tab profile-content">
          <div>
            <span>Phone</span>
            <p>+216 {{ user.phonenum }}</p>
          </div>
          <div>
            <span>Email</span>
            <p>{{ user.email }}</p>
          </div>
          <div>
            <span>Category</span>
            <p>{{ user.category }}</p>
          </div>
          <div>
            <span>Speciality</span>
            <p>{{ user.speciality }}</p>
          </div>
          <div>
            <span>Location</span>
            <p>{{ user.location }}</p>
          </div>
          <div>
            <span>User Role</span>
            <p>{{ user.roles }}</p>
          </div>
        </div>
      </mat-tab>
      <!----------------------------------------->

      <mat-tab label="History" *ngIf="userRole == 'student'">
        <div class="formation-serction" *ngFor="let group of user.groups">
          <div class="formation">
            <div class="formation-text">
              <h2>{{ group.groupObject }}</h2>
              <mat-chip-list>
                <mat-chip>{{ group.groupCategory }}</mat-chip>
                <mat-chip *ngIf="!group.isDateGreater" class="upcoming-chip"
                  >Upcoming</mat-chip
                ><mat-chip *ngIf="group.isDateGreater" class="started-chip"
                  >Started</mat-chip
                >
                <mat-chip *ngIf="false" class="inactve-chip">Inactve</mat-chip>
              </mat-chip-list>
            </div>

            <span>{{ group.groupDescription }} </span>
            <h3>Started at {{ group.createdAt }}</h3>
            <button
              mat-raised-button
              *ngIf="group.isDateGreater"
              [routerLink]="['/Formation/Meeting', group.groupCode]"
              class="live-button"
            >
              <mat-icon aria-label="adjust" class="button-live"
                >adjust</mat-icon
              >
              Join Live
            </button>
          </div>
        </div>
      </mat-tab>
      <!----------------------------------------->

      <mat-tab label="History" *ngIf="userRole == 'teacher'">
        <div class="formation-serction" *ngFor="let group of GroupsByTeacherId">
          <div class="formation">
            <div class="formation-text">
              <h2>{{ group.groupObject }}</h2>
              <mat-chip-list>
                <mat-chip>{{ group.groupCategory }}</mat-chip>
                <mat-chip>{{ group.groupLevel }}</mat-chip>
                <mat-chip *ngIf="!group.isDateGreater" class="upcoming-chip"
                  >Upcoming</mat-chip
                ><mat-chip *ngIf="group.isDateGreater" class="started-chip"
                  >Started</mat-chip
                >
                <mat-chip *ngIf="false" class="inactve-chip">Inactve</mat-chip>
              </mat-chip-list>
            </div>

            <span>{{ group.groupDescription }} </span>
            <h3>Started at {{ group.createdAt }}</h3>
            <button
              mat-raised-button
              *ngIf="group.isDateGreater"
              [routerLink]="['/Formation/Meeting', group.groupCode]"
              class="live-button"
            >
              <mat-icon aria-label="adjust" class="button-live"
                >adjust</mat-icon
              >
              Join Live
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
