.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
}
.mainpage {
  max-width: 1100px;
  margin: auto;
  min-height: 860px;
}

.profile-header {
  margin: 30px auto 10px auto;
  min-height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-button {
  background-color: rgba(128, 128, 128, 0.295);
  color: var(--whitecolor);
}

::ng-deep .menu {
  background-color: rgba(128, 128, 128, 0.295);
}
::ng-deep .menu-item {
  color: var(--whitecolor) !important ;
}

.left-content {
  height: 100%;
  min-width: 300px;
  margin: 20px;
  display: flex;
}

.left-content-1 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.left-content-1 img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.left-content-2 {
  margin-left: 20px;
  padding-top: 10px;
}

.right-content {
  width: max-content;
  margin: 20px;
}
.user-name {
  height: 35px;
  width: max-content;
  font-size: 30px;
  margin: 20px;
}
.user-y-c {
  display: flex;
  margin: 20px;
}
.user-year {
  font-size: 16px;
}
.user-category {
  font-size: 16px;
}

mat-tab-group {
  margin: 40px auto 50px auto;
  min-height: 500px;
  color: var(--whitecolor) !important;
}

.tab {
  margin: 20px auto;
  min-height: 100px;
  padding: 20px 0;
}
.profile-content {
  display: flex;
  flex-wrap: wrap;
}
.profile-content div {
  background-color: var(--soft-darkcolor);
  border-radius: 20px;
  width: 40%;
  margin: 30px 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.profile-content span {
  color: var(--graycolor);
  font-size: 20px;
  margin-bottom: 10px;
}
.profile-content p {
  font-size: 18px;
  color: var(--whitecolor);
}
table {
  width: 100%;
  margin: 20px auto;
  box-shadow: none;
  border: none;
  background-color: transparent !important;
}
.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: var(--soft-darkcolor);
}

.demo-row-is-clicked {
  font-weight: bold;
}
table th {
  border-bottom: rgb(44, 44, 44) solid 1px;
}

.money-type {
  display: flex;
}

.icon-green {
  padding: 1px 10px;
  border-radius: 10px;
  font-weight: 500;
  color: #195f35;
  background-color: #bbddc6;
}
.icon-red {
  padding: 1px 10px;
  border-radius: 10px;
  font-weight: 500;
  color: #af3544;
  background-color: #ecc5c5;
}

.money-type span {
  margin-left: 10px;
  min-height: 25px;
  display: inline-flex;
  align-items: center;
}
