.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
}
.mainpage {
  max-width: 1100px;
  margin: auto;
  min-height: 860px;
}

.profile-header {
  margin: 30px auto 10px auto;
  min-height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-button {
  background-color: rgba(128, 128, 128, 0.295);
  color: var(--whitecolor);
}

::ng-deep .menu {
  background-color: rgba(128, 128, 128, 0.295);
}
::ng-deep .menu-item {
  color: var(--whitecolor) !important ;
}

.left-content {
  height: 100%;
  min-width: 300px;
  margin: 20px;
  display: flex;
}

.left-content-1 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
  }
.verified{
  background-color: var(--soft-darkcolor);
  padding:3px 2px;
  border-radius: 50%;
  color: var(--maincolor );
  position: absolute;
  left: 60px;
  bottom: -12px;
  font-size:30px ;
}
.left-content-1 img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.left-content-2 {
  margin-left: 20px;
  padding-top: 10px;
}

.right-content {
  width: max-content;
  margin: 20px;
}
.user-name {
  height: 35px;
  width: max-content;
  font-size: 30px;
  margin: 20px;
}

.user-y-c {
  display: flex;
  margin: 20px;
}
.user-year {
  font-size: 16px;
}
.user-category {
  font-size: 16px;
}

mat-tab-group {
  margin: 40px auto 50px auto;
  min-height: 500px;
  color: var(--whitecolor) !important;
}


.live-section{
  margin: 20px auto;
  box-sizing: border-box;
  width: 90%;
  min-height: 160px;
  padding: 20px;
  border:var(--bordercolor) solid 1px  ;  
  display: flex;
  flex-direction: column;
  position: relative;

  border-radius: 10px;
}

.live-section span{ 
  margin-bottom: 20px ;
  font-size: 16px;
  color: var(--graycolor);

}
.live-section button{ 
  background-color: var(--maincolor);
  color: var(--darkcolor);
}
.profile-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.profile-content div {
  border: var(--bordercolor) 1px solid ;
  border-radius: 10px;
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.profile-content span {
  color: var(--graycolor);
  font-size: 20px;
  margin-bottom: 10px;
}
.profile-content p {
  font-size: 18px;
  color: var(--whitecolor);
}


.money-type {
  display: flex;
}

.icon-green {
  padding: 1px 10px;
  border-radius: 10px;
  font-weight: 500;
  color: #195f35;
  background-color: #bbddc6;
}
.icon-red {
  padding: 1px 10px;
  border-radius: 10px;
  font-weight: 500;
  color: #af3544;
  background-color: #ecc5c5;
}

.money-type span {
  margin-left: 10px;
  min-height: 25px;
  display: inline-flex;
  align-items: center;
}
.groupcategory {
  padding: 10px;
  display: flex;
  align-items: center;
}
.groupimg {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.groupcategory span {
  margin-left: 10px;
  margin-top: 3px;
}
.formation-serction{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formation{
  margin: auto;
  border-bottom: var(--bordercolor) solid 1px ;
  box-sizing: border-box;
  padding: 20px;
  width: 90%;
  min-height: 120px;
}
.inactve-chip{
  color: #fff !important;
  background-color: #fa6c62 !important;
}

.live-chip{ 
  color: #fff !important;
  background-color: #4CAF50 !important;
}
.formation-text {
  display: flex;
  gap: 20px;
}.formation h2 {
  color: var(--maincolor);
  align-items: center;
}
.formation-chip{
  width: max-content;
  height: max-content;
  border: #195f35 solid 1px;
}
.formation span {
  color: var(--graycolor);
  font-size: 16px;
}
.formation h3 {
  margin-top: 20px;
  font-size: 16px;

}