<div class="adduser" >
    <div class="detail-text" > Add user </div>
    <form (submit)="onSubmit(signUpForm)"  #signUpForm="ngForm">

      <mat-form-field appearance="outline">
        
        <mat-label>Enter Name</mat-label>
        <input
          matInput
          type="text"
          ngModel
          name="name"
          #name="ngModel"
          placeholder="name"
          minlength="4"
          maxlength="20"
          required
        />
        <mat-error *ngIf="name.invalid"
          >Name is <strong>required</strong></mat-error
        >
      </mat-form-field>
  
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter Phone number</mat-label>
        <input
          ngModel
          name="phonenum"
          #phonenum="ngModel"
          matInput
          placeholder="24 *** ***"
          required
        />
  
        <mat-error> Phone Number is <strong>required</strong> </mat-error>
      </mat-form-field>
  

      <mat-form-field appearance="outline">
        
        <mat-label>Enter Email</mat-label>
        <input
          matInput
          type="email"
          ngModel
          name="email"
          #email="ngModel"
          placeholder="Gringa@gmail.com.."
          minlength="4"
          maxlength="20"
          required
        />
        <mat-error *ngIf="email.invalid"
          >Email is <strong>required</strong></mat-error
        >
      </mat-form-field>

      
      <mat-form-field appearance="outline">
        <mat-label>Group Category</mat-label>
        <mat-select 
       
        matInput
        ngModel
        name="category"
        #category="ngModel"
        >
          <mat-option  
          *ngFor="let Speciality of Specialitys"  
          required
          [value]="Speciality.value" >
            {{Speciality.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Group Speciality</mat-label>
        <mat-select 
        matInput
        ngModel
        name="spec"
        #spec="ngModel">
          <mat-option  *ngFor="let Category of Categorys"  
          required
          [value]="Category.value" >
            {{Category.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        



      <mat-form-field appearance="outline">
        
        <mat-label>Enter Location</mat-label>
        <textarea
          matInput
          type="text"
          ngModel
          name="location"
          #location="ngModel"
          placeholder="6 *** Rue *** Mourouj ***"
          minlength="4"
          maxlength="20"
          required
        ></textarea>
        <mat-error *ngIf="location.invalid"
          >location is <strong>required</strong></mat-error
        >
      </mat-form-field>

      <div class="radio-button" >
        <label>User Role : </label>
        <mat-radio-group 
        matInput
          ngModel
          name="role"
          #role="ngModel"
          color="primary"
          value="student">
          <mat-radio-button value="student"  >Student</mat-radio-button>
          <mat-radio-button value="teacher"  >Teacher</mat-radio-button>
        </mat-radio-group>
      </div>
      <button mat-raised-button class="submit-button" type="submit">
        Submit
      </button>
    </form>
    
    </div>