<div class="adduser">
  <div class="detail-text">Add User</div>
  <div class="detail-span">
    Verify all details before adding a new user to our platform.
  </div>
  <form (submit)="onSubmit(signUpForm)" #signUpForm="ngForm">
    <div class="form-content-flexy">
      <div>
        <label>Enter Name</label>

        <mat-form-field appearance="outline">
          <input
            matInput
            type="text"
            ngModel
            name="name"
            #name="ngModel"
            minlength="4"
            maxlength="20"
            required
          />
          <mat-error *ngIf="name.invalid"
            >Name is <strong>required</strong></mat-error
          >
        </mat-form-field>
        <label>Phone number</label>

        <mat-form-field class="example-full-width" appearance="outline">
          <input
            type="tel"
            minlength="8"
            maxlength="8"
            ngModel
            name="phonenum"
            #phonenum="ngModel"
            matInput
            required
          />

          <mat-error> Phone Number is <strong>required</strong> </mat-error>
        </mat-form-field>
      </div>
      <div>
        <!-------------------------------------->
        <div class="profile-pic-flex">
          <div class="profile-pic-text">Photo</div>

          <button
            type="button"
            class="profile-pic"
            (click)="filepicker.click()"
          >
            <div
              *ngIf="imagePreview != '' && imagePreview"
              class="imagePreview"
            >
              <img [src]="imagePreview" alt="" />
            </div>
            <span class="material-icons">file_upload</span>
          </button>
          <input type="file" #filepicker (change)="onFilePicked($event)" />
        </div>

        <!-------------------------------------->
      </div>
    </div>
    <label>Enter Email</label>

    <mat-form-field appearance="outline">
      <input
        matInput
        type="email"
        ngModel
        name="email"
        #email="ngModel"
        minlength="4"
        maxlength="20"
        required
      />
      <mat-error *ngIf="email.invalid"
        >Email is <strong>required</strong></mat-error
      >
    </mat-form-field>

    <label>User Category</label>
    <mat-form-field appearance="outline">
      <mat-select matInput ngModel name="category" #category="ngModel" required>
        <mat-option
          *ngFor="let categ of categs"
          required
          [value]="categ.categName"
        >
          {{ categ.categName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <label>Enter Location</label>
    <mat-form-field appearance="outline">
      <textarea
        matInput
        type="text"
        ngModel
        name="location"
        #location="ngModel"
        placeholder="6 *** Rue *** Mourouj ***"
        minlength="4"
        maxlength="20"
        required
      ></textarea>
      <mat-error *ngIf="location.invalid"
        >location is <strong>required</strong></mat-error
      >
    </mat-form-field>

    <div class="radio-button">
      <label>User Role : </label>
      <mat-radio-group
        matInput
        ngModel
        name="role"
        #role="ngModel"
        color="primary"
        value="student"
      >
        <mat-radio-button value="student">Student</mat-radio-button>
        <mat-radio-button value="teacher">Teacher</mat-radio-button>
        <mat-radio-button value="admin">Admin</mat-radio-button>
      </mat-radio-group>
    </div>

    <button mat-raised-button class="submit-button" type="submit">
      Submit
    </button>
  </form>
</div>
