.spinner {
  margin: 40px;
}
.example-spacer {
  flex: 1 1 auto;
}
.mainpage {
  max-width: 1000px;

  margin: 0 auto;

  min-height: 100%;
}
@media screen and (max-width: 1600px) {
  .mainpage {
    margin-right: 300px;
  }
}
.top-div {
  height: 40px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
.top-div-text {
  font-family: sans-serif;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
}

.announc-list {
  height: 100%;
  width: 90%;
  border: solid transparent 1px;
}
.create-announ {
  margin: 10px auto;
  width: 90%;
  overflow: auto;
}
.button-announ-section {
  margin: 10px auto 60px auto;
  width: 90%;
  height: 30px;
}
mat-form-field {
  width: 100%;
}
.button-announ {
  float: right;
  margin-top: -10px;
  background-color: var(--maincolor);
  color: var(--darkcolor);
  border-radius: 30px;
}
.announc {
  margin: 20px 20px;
  padding: 20px;
}
.announc:hover {
  border-radius: 10px;
  background-color: var(--soft-darkcolor);
}
.announc_null {
  border: var(--graycolor) solid 1px;
  color: var(--graycolor);
  border-radius: 5px;
  text-align: center;
  margin: 60px auto;
  width: 90%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}
.announc-info {
  display: flex;
  margin-bottom: 10px;
  position: relative;
}
.announc-teacher {
  margin: -5px 5px;
  height: 40px;
  display: flex;
  align-items: center;
}
.announc-teacher > * {
  margin: 2px;
}
.announc-teacher img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
}

.announc-teacher span {
  margin-left: 5px;
  font-size: 18px;
  color: var(--whitecolor);
}
.announc-teacher span:last-child {
  color: var(--graycolor);
  font-size: 14px;
}
.header-button {
  background-color: rgba(128, 128, 128, 0.295);
  color: var(--whitecolor);
  float: left;
}
/*****************************************************/

.teacher-list {
  height: 100%;
  min-width: 320px;
  border-radius: 5px;
  padding: 10px;
  border-left: solid 1px var(--bordercolor);
  position: absolute;
  right: 0;
  top: 45px;
  padding: 20px;
  z-index: 11;
}

::ng-deep .menu {
  background-color: var(--soft-darkcolor);
}
::ng-deep .menu-item {
  color: var(--whitecolor) !important ;
}
.users {
  min-height: 75px;
  max-width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  border: var(--bordercolor) solid 1px;
  align-items: center;
}

.users-img {
  cursor: pointer;
  height: 40px;
  width: 20%;
}
.users-img img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
.users-text {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.users-text :last-child {
  color: var(--graycolor);
}
.flex-it-to-right {
  flex: 1 1 auto;
}
.users-button {
  width: 25%;
}
.users-button button {
  background-color: transparent;
  border: var(--bordercolor) solid 1px;
  color: var(--graycolor);
  font-size: 10px;
  cursor: pointer;
}

.users-button i {
  font-size: 18px;
}
.date {
  margin-top: 10px;
  color: var(--graycolor);
  font-size: 13px;
  display: flex;
}

.date a:last-child {
  color: rgb(219, 52, 52);
}

.date a:hover {
  background-color: rgba(155, 89, 89, 0.151);
}
/*****************************************************/
