.my-spinner-div {
  display: flex;
  justify-content: center;
  margin: auto ;
}
.example-spacer {
  flex: 1 1 auto;
}
.mainpage {
  max-width: 1300px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
@media screen and (max-width: 1600px) {
 
}
.top-div {
  height: 40px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
.top-div-text {
  font-family: sans-serif;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
}

.announc-list {
  height: 100%;
  width: 100%;
  border: solid transparent 1px;

}
.create-announ {
  margin: 10px auto;
  width: 90%;
  overflow: auto;
}

.button-announ-section {
  margin: 10px auto 60px auto;
  width: 90%;
  height: 30px;
}
mat-form-field {
  width: 100%;
}
.button-announ {
  float: right;
  margin-top: -10px;
  background-color: var(--maincolor);
  color: var(--darkcolor);
  border-radius: 30px;
}
.announc {
  margin: 20px 20px;
  padding: 20px;
  border: solid 1px var(--bordercolor);
  border-radius:10px ;
}
.announc:hover {
  border-radius: 10px;
  background-color: var(--soft-darkcolor);
}
.announc-content {
  min-height: 60px;
  background-color: transparent;
  color: var(--whitecolor);
  border: none;
  font-size: 14px;
  padding: 0;
  width: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;  
  resize: vertical;


}
.button-save{
  color: var(--maincolor);
}
.announc_null {
  border: var(--graycolor) solid 1px;
  color: var(--graycolor);
  border-radius: 5px;
  text-align: center;
  margin: 60px auto;
  width: 90%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}

.announc-info {
  margin-bottom: 10px;
  position: relative;
  display: flex;
}
.admin{
  background-color: rgba(21, 71, 50, 0.151);
}
.admin:hover{
  background-color: rgba(23, 95, 67, 0.24);
}
.announc-info h3{

  display: flex;
  align-items: center;
  gap: 10px;
  color:var(--maincolor);
}
.announc-teacher {
  margin: -5px 5px;
  height: 40px;
  display: flex;
  align-items: center;
  
}
.announc-teacher > * {
  margin: 2px;
}
.announc-teacher img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
}

.announc-teacher span {
  margin-left: 5px;
  font-size: 18px;
  color: var(--maincolor);
}
.announc-teacher span:last-child {
  color: var(--graycolor);
  font-size: 14px;
}
.announc-teacher span:last-child {
  color: var(--graycolor);
  font-size: 14px;
}
.header-button {
  background-color: rgba(128, 128, 128, 0.767);
  color: var(--whitecolor);
  float: left;
}
/*****************************************************/

.teacher-list {
  margin-top: 20px;
  height: max-content;
  min-width: 320px;
  border-radius: 5px;
  border: var(--bordercolor) solid 1px;

}
.teacher-list-header{
  background-color: var(--soft-darkcolor);
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
  font-size: 18px;
}
.teacher-list-content{
  padding: 20px;
}
::ng-deep .menu {
  background-color: var(--soft-darkcolor);
}
::ng-deep .menu-item {
  color: var(--whitecolor) !important ;
}
.users {
  min-height: 90px;
  max-width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.users-img {
  cursor: pointer;
  height: 40px;
  width: 20%;
}
.users-img img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
.users-text {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 15px;
  letter-spacing: 1px;

}
.users-text span:first-child:first-letter {
  text-transform: uppercase;
}

.users-text span:first-child {
  color: var(--maincolor);
  font-size: 17px;
  font-weight: 550;

}

.users-text-second {
  cursor: pointer;
  color: var(--graycolor);
  
}
.users-text span:last-child {
  color: var(--graycolor);
  display: flex;
  align-items: center;
  font-size: 14px;
}
.users-text span i {
  font-size: 18px;
}
.flex-it-to-right {
  flex: 1 1 auto;
}
.users-button {
  width: 25%;
}
.users-button button {
  background-color: transparent;
  border: var(--bordercolor) solid 1px;
  color: var(--graycolor);
  font-size: 10px;
  cursor: pointer;
}

.users-button i {
  font-size: 18px;
}
.date {
  margin-top: 10px;
  color: var(--graycolor);
  font-size: 13px;
  display: flex;
}

.date a:last-child {
  color: rgb(219, 52, 52);
}

.date a:hover {
  background-color: rgba(155, 89, 89, 0.151);
}
/*****************************************************/
