<div class="mainpage">
  <div class="top-div">
    <div class="top-div-text">
      <p>Announcement</p>
    </div>
  </div>

  <div class="announc-list">
    <div class="create-announ">
      <form (submit)="onAddAnnounc(addAnn)" #addAnn="ngForm">
        <mat-form-field appearance="outline">
          <textarea
            matInput
            ngModel
            name="content"
            required
            #content="ngModel"
            placeholder="❉/  Create Announcememnt ..."
          >
            <mat-error *ngIf="content.invalid"
            >Content is <strong>required</strong></mat-error
          ></textarea
          >
        </mat-form-field>
        <button mat-flat-button class="button-announ" type="submit">
          Submit
        </button>
      </form>
    </div>

    <div class="button-announ-section">
      <button
        mat-mini-fab
        class="header-button"
        [matMenuTriggerFor]="beforeMenu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>filter_list</mat-icon>
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="after" class="menu">
        <button
          mat-menu-item
          class="menu-item"
          *ngFor="let option of options"
          (click)="onChange(option.value)"
        >
          <mat-icon class="menu-item">{{ option.iconvalue }}</mat-icon>
          <span>{{ option.namevalue }}</span>
        </button>
      </mat-menu>
    </div>

    <div>
      <div class="announc" *ngFor="let Announc of Announs">
        <div class="announc-info">
          <h3 *ngIf="Announc.userRole == 'admin'">Announcement</h3>
          <div *ngIf="Announc.userRole == 'student'" class="announc-teacher">
            <img src="{{ Announc.userId.imgPath }}" alt="" />
            <span>{{ Announc.userId.name }}</span>
            <span>{{ Announc.userId.category }}</span>
          </div>
        </div>
        <span>
          {{ Announc.content }}
        </span>
        <div class="date">
          <span>{{ Announc.createdAt }}</span>
          <span class="example-spacer"></span>
          <a mat-button>edit</a>
          <a mat-button>delete</a>
        </div>
      </div>
    </div>
    <div class="announc_null" *ngIf="announslength <= 0">
      There is no announcement !
    </div>
  </div>
</div>

<div class="teacher-list">
  <h4>TEACHERS</h4>
  <mat-form-field class="search-bar" appearance="outline">
    <mat-label> ❉/ Search</mat-label>

    <input
      type="text"
      matInput
      [(ngModel)]="searchQuery"
      (keyup)="searchSubject.next(searchQuery)"
    />
  </mat-form-field>

  <div class="my-spinner-div" *ngIf="spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div class="announc_null" *ngIf="userlength <= 0">"Teacher directory"</div>

  <div class="users" *ngFor="let user of users">
    <div class="users-img">
      <img
        src="{{ user.imgPath }}"
        [routerLink]="['/Homepage/Profile', user.userId]"
        alt="imgPath"
      />
    </div>
    <div class="users-text">
      <span>{{ user.name }}</span>
      <span>
        {{ user.email }}
      </span>
    </div>
    <div class="flex-it-to-right"></div>
    <div class="users-button">
      <button mat-raised-button (click)="onCopy(user.email)">
        <i class="material-icons">content_copy</i>
      </button>
    </div>
  </div>
</div>
