@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/*
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--whtiecolor);
  background: var(--darkcolor);
  font-family: "Roboto", sans-serif;

  --bordercolor: #2f353c;

  --darkcolor: #0c1017;
  --soft-darkcolor: #171a22;
  --whitecolor: #e2e2e2;
  --graycolor: #8a8d8e;
  --maincolor: #84ccbf;
  --maintranscolor: #3b7fed71;
  --secendcolor: #c04e14;
  --darktranscolor: #19181ada;
  --soft-darktranscolor: #26272b69;
  --goldcolor: #d48a0d;
}
*/
html,
body {
  transition: 0.4s ease-in-out;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--whitecolor);
  background: var(--darkcolor);
  font-family: "Roboto", sans-serif;

  --bordercolor: #2f353c;
  --darkcolor: #0c1017;
  --soft-darkcolor: #171a22;
  --whitecolor: #e2e2e2;
  --graycolor: #8a8d8e;
  --maincolor: #726fdd;
  --maintranscolor: #3b7fed71;
  --secendcolor: #c04e14;
  --darktranscolor: #19181ada;
  --soft-darktranscolor: #26272b69;
  --buttonactive:#2e37469c;
}

body.bright-theme {
  transition: 0.4s ease-in-out;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1E2022;
  background: var(--darkcolor);
  font-family: "Roboto", sans-serif;

  --bordercolor: rgb(219, 219, 219);

  --darkcolor: #fff;
  --soft-darkcolor: #F0F5F9;
  --whitecolor: #000000;
  --graycolor: #444444;
  --maincolor: #504be6;
  --maintranscolor: #85586F71;
  --secendcolor: #c04e14;
  --darktranscolor: #fdfdfdce;
  --soft-darktranscolor: #94959769;
  --buttonactive: #b7b6e5;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  color: var(--whtiecolor);
}
.fas {
  font-size: 27px;
}
ul {
  list-style-type: none;
}
/************ scroll bar ****************/
::-webkit-scrollbar {
  width: 13px;
  background-color: var(--bordercolor);
}
::-webkit-scrollbar-thumb {
  background-color: var(--maincolor);
}

::-webkit-scrollbar-track {
  background-color: var(--soft-darktranscolor);
}
/*********************-Active Button********************/

.activebutton {
  background-color: var(--buttonactive);
}

/*********************-Snack Bar************************/

.red-snackbar {
  background: #381d1d;
  text-align: center;
  color: white;
  font-size: 15px;
  border-left: solid 10px red;
}
.green-snackbar {
  background: #1d3826;
  text-align: center;
  color: white;
  font-size: 15px;
  border-left: solid 10px green;
}
.red-snackbar .mat-button-wrapper {
  color: white;
  padding: 5px 10px;
  background-color: rgb(209, 72, 72);
  border-radius: 5px;
  text-align: center;
}
/*********************-Dialog***************************/

mat-dialog-container {
  background-color: var(--soft-darkcolor) !important;
  padding: 0 !important;
  margin: 0 !important;
}

.backdropBackground {
  background-color: #120f1aa2;
}
/********************* -Mat-card ***************************/
.mat-card {
  background-color: transparent;
  color: var(--whitecolor);
}

/********************* -Slick ***************************/

.slick-prev:before,
.slick-next:before {
  color: var(--whitecolor) !important;
  font-size: 25px !important ;
  margin: -18px;
}
/********************* -Form ***************************/

.mat-form-field-label {
  color: var(--whtiecolor) !important;
}
.mat-select-arrow {
  color: var(--whtiecolor) !important;
}
.mat-select-min-line {
  color: var(--whtiecolor) !important;
}
.mat-focused .mat-form-field-label {
  color: var(--whtiecolor) !important;
}

.mat-input-underline {
  background-color: var(--whtiecolor) !important;
}
.mat-form-field-appearance .mat-form-field-underline::before {
  background-color: var(--whtiecolor) !important;
}

.mat-input-element::placeholder {
  color: var(--graycolor) !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--graycolor) !important;
}

/********************* -Tooltip ***************************/

.mat-tooltip {
  background-color: var(--soft-darkcolor) !important;
  color: var(--whitecolor) !important;
  font-size: 12px;
}
/********************* -Divider ***************************/

mat-divider {
  margin: auto !important;
  width: 95% !important ;
  background-color: rgba(252, 252, 252, 0.24) !important;
}

/********************* ---stteper------ ***************************/
.mat-stepper-horizontal-line {
  background-color: rgba(185, 178, 178, 0.493) !important;
}
.mat-step-icon {
  background-color: var(--graycolor) !important;
  color: var(--whtiecolor) !important ;
}

.mat-step-icon-selected {
  background-color: var(--maincolor) !important;
}
.mat-step-text-label {
  color: var(--whitecolor) !important;
}
.basic-container .mat-step-header .mat-step-icon-selected {
  background-color: #6cb73a;
  color: var(--whtiecolor);
}

.mat-step-header .mat-step-icon {
  color: var(--whtiecolor);
}

/*********************-Mat paginator********************/
.mat-paginator .mat-paginator-container {
  background-color: var(--darkcolor) !important;
  color: var(--whitecolor) !important;
}
.mat-select-arrow-wrapper {
  color: var(--whitecolor) !important;
}
.mat-select {
  margin-left: 10px;
}
.mat-select-value {
  color: var(--whitecolor) !important;
}
.mat-paginator-icon {
  color: var(--whitecolor) !important;
}
/*********************-Mat Checkbox********************/

.mat-checkbox-checked .mat-checkbox-background {
  background-color: var(--maincolor) !important;
}

.mat-checkbox-frame {
  background-color: var(--whtiecolor) !important;
}

/*********************-MAt slide tagle ********************/

.mat-slide-toggle {
  color: var(--whtiecolor) !important;
}

/********************- mat chip  -**************************/
mat-chip {
  background-color: rgba(128, 128, 128, 0.295) !important;
  color: var(--whitecolor) !important ;
}

/*******************************************************/
.mat-elevation-z8 {
  color: #088f1f !important;
  background-color: var(--soft-darktranscolor) !important;
}
.mat-elevation-z8 th {
  color: var(--graycolor) !important ;
}
.mat-elevation-z8 td {
  color: var(--whitecolor) !important ;
}

/*************************** -tabs- ****************************/
/* Styles for tab labels */
.mat-tab-list {
  border-bottom: var(--bordercolor) solid 1px !important;
}
.mat-tab-label {
  min-width: 150px !important;
  color: var(--whitecolor);
  font-size: 16px;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  color: var(--whitecolor);
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: var(--whitecolor) !important;
}
/*************************** -toggle-group- ****************************/

.mat-button-toggle-group {
  border: transparent solid 1px;
}
.mat-button-toggle {
  background-color: transparent;
  color: var(--whitecolor);
  border: var(--bordercolor) solid 1px !important;
  margin: auto 5px;
  border-radius: 3px;
}
.mat-button-toggle mat-icon {
  font-size: 20px;
}
.mat-button-toggle-checked {
  background-color: var(--whitecolor);
  color: var(--darkcolor) !important;
}

/*************************** -radio button- ****************************/

.mat-radio-outer-circle {
  border: var(--whitecolor);
}
.mat-radio-button {
  margin: auto 10px;
}
