.mat-toolbar {
  height: 50px;
  background-color: #0c1017;
  border-bottom: 1px solid var(--bordercolor);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.top-bar-button {
  margin: auto 5px;
}
.absolute {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
}
.home-victors {
  width: 100%;
}
.puch-right {
  flex: 1 1 auto;
}
.right-navbar-button {
  margin: auto 40px;
  align-items: center;
  display: flex;
}
.right-navbar-button img {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  margin-left: 20px;
}
.username-text {
  background-color: transparent;
  color: var(--graycolor);
  font-size: 16px;
}
#button1 {
  margin: auto 7px;
  font-size: 16px;
}
#button2 {
  border-radius: 20px;
  background-color: var(--maincolor);
  color: var(--darkcolor);
}
