<mat-toolbar color="primary">
  <button
    mat-button
    class="top-bar-button"
    routerLinkActive="activebutton"
    [routerLink]="['/Homepage/View']"
  >
    Home
  </button>
  <button
    mat-button
    class="top-bar-button"
    routerLinkActive="activebutton"
    [routerLink]="['/Homepage/AboutUs']"
  >
    About us
  </button>
  <button
    mat-button
    class="top-bar-button"
    routerLinkActive="activebutton"
    [routerLink]="['/Homepage/ContactUs']"
  >
    Contact
  </button>
  <button
    mat-button
    class="top-bar-button"
    routerLinkActive="activebutton"
    [routerLink]="['/Homepage/PostPage/63aac740ddd3d25b418e4966']"
  >
    PostPage
  </button>
  <button
    mat-button
    class="top-bar-button"
    routerLinkActive="activebutton"
    [routerLink]="['/Homepage/GroupsList']"
  >
    Discover
  </button>
  <div class="puch-right"></div>
  <div class="right-navbar-button">
    <button mat-button (click)="login()">login</button>
    <button mat-raised-button (click)="login()">Get started</button>
  </div>
</mat-toolbar>
<!--
  <div class="absolute">
    <img src="../../assets/design1.png" alt="home" class="home-victors">
  </div>
  -->
<router-outlet></router-outlet>
<app-footer></app-footer>
