<mat-toolbar color="primary">
    
    <button mat-button class="top-bar-button" routerLinkActive="activebutton" [routerLink]="['/Homepage/View']" >Home</button>
    <button mat-button class="top-bar-button" routerLinkActive="activebutton" [routerLink]="['/Homepage/AboutUs']">About us</button>
    <button mat-button class="top-bar-button" routerLinkActive="activebutton" [routerLink]="['/Homepage/ContactUs']">Contact</button>
  </mat-toolbar>

  <div class="absolute">
    <img src="../../assets/design1.png" alt="home" class="home-victors">
  </div>
  <router-outlet></router-outlet>
