.mat-toolbar{
    height: 45px;
    background-color: #19181a;
    border-bottom: 1px solid rgb(44, 44, 44);
}


.top-bar-button{
    margin:  auto 5px;
}
.absolute{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
}
.home-victors{
    width: 100%;
}